# IDE
.idea/
.vscode/

# Ansible
*.retry
.ansible/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Secrets
*.vault
.vault_pass*
*.pem
*.key

# OS
.DS_Store
Thumbs.db

# Local host settings
inventory/host_vars/*.yaml
inventory/host_vars/*.yml
